.progressBarContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003cff;
  padding: 10px 0;
  width: 100%;
}

.progressText {
  color: #fff;
  margin-right: 10px;
}

.bar {
  width: 150px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 5px;
}
.bar > div {
  background-color: #fff;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
